<section data-ng-controller="ArticleController">
    <h1>New Article</h1>
    <form  data-ng-submit="create()" novalidate>
       <div class="form-group">
           <label>Title</label>
           <input type="text" data-ng-model="title" class="form-control" id="title" placeholder="Title" required>
       </div>
       <div class="form-group">
           <label>Content</label>
           <textarea class="form-control" data-ng-model="content" id="content" cols="30" rows="10" placeholder="Content"></textarea>
       </div>
       <a href="/" class="btn btn-primary btn-lg"> Cancel</a>
       <button type="submit" class="btn btn-warning btn-lg">Submit</button>
       <div class="alert alert-danger" data-ng-show="error">
           <strong data-ng-bind="error"></strong>
       </div>
    </form>
</section>