<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
    <head>
        <%- include styles.ejs %>
        <title><%= title %></title>
    </head>
    <body>
        <div class="container">
            <section ng-view></section>
        </div>
        
        <script type="text/javascript">
            window.user = <%- user || 'null' %>;
        </script>

        <%- include scripts.ejs %>

    </body>
</html>