<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/site.css">
        <title><%= title %></title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">

                <img src="img/nodejs_logo.png" alt="node logo">
                <h2><%= title %></h2>

                <% if (userFullName) { %>
                    <h3>Hello <%= userFullName %> </h3>
                    <a href="/signout" class="btn btn-default"><span class="fa fa-user"></span> Sign out</a>
                <% } else { %>
                <p>Sign in or Register with:</p>
                    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
                    <a href="/signin" class="btn btn-default"><span class="fa fa-user"></span> Signin</a>
                    <a href="/oauth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
                    <a href="/oauth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
                <% } %>
            </div>
        </div>
    </body>
</html>